.floating {
    border-radius: 0.3rem;
    border: 3px solid rgba(0, 0, 0, 0.125);

    padding: 1rem 1rem;
    margin: 0.5rem;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;

    max-width: 40rem;

    text-wrap: wrap;

    font-size: 0.8rem;

    background-color: rgb(255, 255, 255);
}
